body {
    margin: 0;
    background-color: #121212;
    min-height: 100vh;
}
.container{
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.theme_login{
    flex: 3 1  0%;
    display: flex;
    justify-content: center;
    padding: 32px;
    background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
}
@media (max-width: 767px) {
    .theme_login {
        background: #121212;
    }
}
.container_login{
    max-width: 734px;
    width: 100%;
}
.box{
    background-color: #121212;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    padding-bottom: 32;
    display: flex;
    flex-direction: column;
}
img{
    border-bottom: none;
    padding-top: 32px;
    padding-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 36px;
    text-align: left;
    margin: auto;
}
.login_text {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 32px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.locial_login{
    list-style: none;
    padding: 0px;
    text-indent: 0px;
    display: flex;
    flex-direction: column;
    width: 324px;
    margin: 0px auto;
    row-gap: normal;
}
.locial{
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}
.locial button{
    margin-bottom: 8px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    font-family: sans-serif;
    background-color: transparent;
    border-radius: 9999px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding-block-start: calc(8px - 1px);
    padding-block-end: calc(8px - 1px);
    padding-inline-start: calc(32px - 1px);
    padding-inline-end: calc(32px - 1px);
    position: relative;
    border: 1px solid #878787;
    color: #000000;
    min-inline-size: 0px;
    min-block-size: 48px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inline-size: 100%;
}
.google{
    background: url("https://accounts.scdn.co/sso/images/new-google-icon.72fd940a229bc94cf9484a3320b3dccb.svg") center center no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}
.facebook{
    background: url("https://accounts.scdn.co/sso/images/new-facebook-icon.eae8e1b6256f7ccf01cf81913254e70b.svg") center center no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}
.apple{
    background: url("https://accounts.scdn.co/sso/images/new-apple-icon.e356139ea90852da2e60f1ff738f3cbb.svg") center center no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}
.locial_text{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    text-transform: none;
    letter-spacing: normal;
    margin: auto;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    -webkit-box-align: center;
    align-items: center;
}
hr{
    margin: 32px 100px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(41, 41, 41);
}
.login_form{
    width: 324px;
    margin: 0px auto;
    padding-bottom: 0px;
}
.login{
    padding-bottom: 16px;
}
.text_login{
    box-sizing: border-box;
    font-size: 14px;
    margin: 0px;
    font-weight: 700;
    font-family: sans-serif;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    inline-size: 100%;
    padding-block-end: 8px;
}
.container_password{
    position: relative;
    width: 100%;
}
.login_input{
    appearance: none;
    background-image: none;
    border: 0px;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
    inline-size: 100%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    border-radius: 4px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-block-start: 12px;
    padding-block-end: 12px;
    min-block-size: 48px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #b3b3b3;
    color: #ffffff;
}
.show_hide_container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    color: #b3b3b3;
    right: 12px;
}
.show_hide_button{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border: 0px;
    border-radius: var(--encore-button-corner-radius, 9999px);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    color: var(--text-subdued, #656565);
    min-inline-size: 0px;
    min-block-size: var(--encore-control-size-base, 48px);
    padding-block-start: var(--encore-spacing-tighter, 12px);
    padding-block-end: var(--encore-spacing-tighter, 12px);
    padding-inline: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.show_hide_button span{
    display: flex;
}
.show_password_icon{
    background: url('/svg/show_eye.svg');
    width: 24px;
    height: 24px;
}
.hide_password_icon{
    background: url('/svg/hide_eye.svg');
    width: 24px;
    height: 24px;
}
.button_login{
    text-align: center;
    padding: 24px 0px 32px 0px;
}
.button_login button{
    width: 100%;
    box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
   font-size: 1rem;
   font-weight: 700;
   font-family: sans-serif;
   background-color: transparent;
   border: 0px;
   border-radius: 9999px;
   cursor: pointer;
   display: inline-block;
   position: relative;
   text-align: center;
   text-decoration: none;
   text-transform: none;
   touch-action: manipulation;
   transition-duration: 33ms;
   user-select: none;
   vertical-align: middle;
   transform: translate3d(0px, 0px, 0px);
   padding: 0px;
   min-inline-size: 0px;
   align-self: center;
}
.button_inner{
    box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
   position: relative;
   background-color: #20d760;
   color: #000000;
   display: flex;
   border-radius: 9999px;
   font-size: inherit;
   min-block-size: 48px;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-pack: center;
   justify-content: center;
   padding-block-start: 8px;
   padding-block-end: 8px;
   padding-inline-start: 32px;
   padding-inline-end: 32px;
}
.forgot_password{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 0px;
    -webkit-box-align: end;
    align-items: end;
}
.forgot_password a{
    font-family: CircularSp, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
   color: inherit;
   -webkit-box-align: center;
   align-items: center;
}
.forgot_password a:hover{
    color: #20d760;
}
.forgot_password a p{
    display: inline;
    color: white;
}
.forgot_password a p:hover{
    color: #20d760;
}
.sign_up_section{
    padding: 16px 0px;

}
.sign_up_section h2{
    text-align: center;
}
.sign_up_section h2 span{
    margin-block: 0px;
    color: #a7a7a7;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 400;
}
.sign_up_section a{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    color: inherit;
    -webkit-box-align: center;
    align-items: center;
}
.sign_up_section a:hover{
    color: #20d760;
}
.sign_up_section a span{
    margin-left: 8px;
    margin-block: 0px;
    color: inherit;
}
.sign_up_section a span:hover {
   color: #20d760;
}